!!!

%html
    %head
        %title= "Gas"
    %body
        %p
            = "Tracking %{count} purchases" % {:count => GasPurchase.all.length}
            %div{:style => "float:right;width:300px;background-color:#CCCCFF;padding:6px;"}
                = "Total gallons purchased: #{(GasPurchase.all.map &:gallons).inject(:+)}"
                %br
                = "Total miles traveled: #{(GasPurchase.all.map &:miles).inject(:+)}"
                %br
                = "Total cost: #{(GasPurchase.all.map &:cost).inject(:+)}"
                %hr
                = "Average gallons per purchase: #{(GasPurchase.all.map &:gallons).inject(:+) / GasPurchase.all.length}"
                %br
                = "Average miles per purchase: #{(GasPurchase.all.map &:miles).inject(:+) / GasPurchase.all.length}"
                %br
                = "Average cost per purchase: #{(GasPurchase.all.map &:cost).inject(:+) / GasPurchase.all.length}"
                %br
                = "Average miles per gallon: #{(GasPurchase.all.map &:miles).inject(:+) / (GasPurchase.all.map &:gallons).inject(:+)}"
                %br
                = "Average cost per gallon: #{(GasPurchase.all.map &:cost).inject(:+) / (GasPurchase.all.map &:gallons).inject(:+)}"
            %table
                %tr
                    %th Date
                    %th Gallons
                    %th Miles
                    %th Cost
                    %th Car
                    %th Driver
                    %th
                - GasPurchase.all.each do |purchase|
                    %tr
                        %td= purchase.timestamp.to_time.strftime("%Y.%m.%d at %I:%M %p")
                        %td= purchase.gallons
                        %td= purchase.miles
                        %td= purchase.cost
                        %td= purchase.car.description
                        %td= purchase.driver.name
                        %td
                %tr
                    %form{:action => "/add/purchase", :method => "POST"}
                        %input{:type => "hidden", :name => "redirect", :value => "/"}
                        %td
                            %input{:type => "text", :name => "timestamp"}
                        %td
                            %input{:type => "text", :name => "gallons"}
                        %td
                            %input{:type => "text", :name => "miles"}
                        %td
                            %input{:type => "text", :name => "cost"}
                        %td
                            %select{:name => "car"}
                                - Car.all.each do |car|
                                    %option{:value => car.id}= car.description
                        %td
                            %select{:name => "driver"}
                                - Driver.all.each do |driver|
                                    %option{:value => driver.id}= driver.name
                        %td
                            %input{:type => "submit", :name => "submit", :value => "Add"}
        %hr
        %p= "Drivers (%{count}): %{drivers}" % {:count => Driver.all.length, :drivers => Driver.all.map { |d| d.name }.join(", ")}
        %p= "Cars (%{count}): %{cars}" % {:count => Car.all.length, :cars => Car.all.map { |c| c.description }.join(", ")}
