!!!

%html
    %head
        %title= "Gas"

        %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery.min.js"}
        %script{:type => "text/javascript", :src => "http://code.jquery.com/ui/jquery-ui-git.js"}
        %script{:type => "text/javascript", :src => "https://raw.github.com/trentrichardson/jQuery-Timepicker-Addon/master/jquery-ui-timepicker-addon.js"}
        %script{:type => "text/javascript", :src => "/js/index.js"}

        %link{:rel => "stylesheet", :href => "http://code.jquery.com/ui/jquery-ui-git.css"}
        %link{:rel => "stylesheet", :href => "/css/main.css"}
    %body
        %p
            = "Tracking %{count} purchases" % {:count => GasPurchase.all.length}
            %div{:class => "sidebar"}
            %table
                %tr
                    %th Date
                    %th Gallons
                    %th Miles
                    %th Cost
                    %th Car
                    %th Driver
                    %th
                - GasPurchase.all(:order => [ :timestamp.asc ]).each do |purchase|
                    %tr
                        %td= purchase.timestamp.to_time.strftime("%Y.%m.%d at %I:%M %p")
                        %td= purchase.gallons
                        %td= purchase.miles
                        %td= "%.2f" % purchase.cost
                        %td= purchase.car.description
                        %td= purchase.driver.name
                        %td 
                            %form{:action => "/delete/purchase", :method => "POST"}
                                %input{:type => "hidden", :name => "redirect", :value => "/"}
                                %input{:type => "hidden", :name => "id", :value => purchase.id}
                                %input{:type => "submit", :value => "Delete"}
                %tr
                    %form{:action => "/add/purchase", :method => "POST"}
                        %input{:type => "hidden", :name => "redirect", :value => "/"}
                        %td
                            %input{:type => "text", :name => "timestamp", :id => "timestamp"}
                        %td
                            %input{:type => "text", :name => "gallons"}
                        %td
                            %input{:type => "text", :name => "miles"}
                        %td
                            %input{:type => "text", :name => "cost"}
                        %td
                            %select{:name => "car"}
                                - Car.all.each do |car|
                                    %option{:value => car.id}= car.description
                        %td
                            %select{:name => "driver"}
                                - Driver.all.each do |driver|
                                    %option{:value => driver.id}= driver.name
                        %td
                            %input{:type => "submit", :name => "submit", :value => "Add"}
        %hr
        %p= "Drivers (%{count}): %{drivers}" % {:count => Driver.all.length, :drivers => Driver.all.map { |d| d.name }.join(", ")}
        %p= "Cars (%{count}): %{cars}" % {:count => Car.all.length, :cars => Car.all.map { |c| c.description }.join(", ")}
