!!!

%html
    %head
        %title= "Gas"

        %script{:type => "text/javascript", :src => "js/lib/jquery.min.js"}
        %script{:type => "text/javascript", :src => "js/lib/jquery-ui-git.js"}
        %script{:type => "text/javascript", :src => "js/lib/jquery-ui-timepicker-addon.js"}
        %script{:type => "text/javascript", :src => "js/index.js"}

        %link{:rel => "stylesheet", :href => "http://code.jquery.com/ui/jquery-ui-git.css"}
        %link{:rel => "stylesheet", :href => "css/main.css"}
    %body
        %p
            = "Showing #{@purchases.length} of #{Purchase.all.length} purchases"
            %div{:class => "sidebar"}= haml :stats
            %table{:class => "alternated"}
                %tr
                    %th Date
                    %th Car
                    %th Driver
                    %th Miles
                    %th MPG
                    %th Gallons
                    %th Cost/Gal
                    %th Cost
                    %th
                - @purchases.each do |purchase|
                    %tr
                        %td= Time.parse(purchase.timestamp.to_s).strftime("%Y.%m.%d at %I:%M %p")
                        %td= purchase.car.description
                        %td= purchase.driver.name
                        %td= purchase.miles.format_miles
                        %td= purchase.miles_per_gallon.format_miles
                        %td= purchase.gallons.format_gallons
                        %td= purchase.cost_per_gallon.format_cost
                        %td= purchase.cost.format_cost
                        %td 
                            %form{:action => "delete/purchase", :method => "POST"}
                                %input{:type => "hidden", :name => "redirect", :value => "/purchases"}
                                %input{:type => "hidden", :name => "id", :value => purchase.id}
                                %input{:type => "submit", :value => "Delete"}
                %tr
                    %form{:action => "add/purchase", :method => "POST"}
                        %input{:type => "hidden", :name => "redirect", :value => "/purchases"}
                        %td
                            %input{:type => "text", :name => "timestamp", :id => "timestamp", :class => "wide"}
                        %td
                            %select{:name => "car"}
                                - Car.all.each do |car|
                                    %option{:value => car.id}= car.description
                        %td
                            %select{:name => "driver"}
                                - Driver.all.each do |driver|
                                    %option{:value => driver.id}= driver.name
                        %td
                            %input{:type => "text", :name => "miles"}
                        %td --
                        %td
                            %input{:type => "text", :name => "gallons"}
                        %td --
                        %td
                            %input{:type => "text", :name => "cost"}
                        %td
                            %input{:type => "submit", :name => "submit", :value => "Add"}
        %hr
        %p= "<a href='drivers'>Drivers</a> (#{Driver.all.length}): #{Driver.all.map{|d| "<a href='purchases?driver=#{d.id}'>#{d.name}</a>"}.join(', ')}"
        %p= "<a href='cars'>Cars</a> (#{Car.all.length}): #{Car.all.map{|c| "<a href='purchases?car=#{c.id}'>#{c.description}</a>"}.join(', ')}"
