- if Purchase.all.length == 0
    = "Add a purchase to get started!"
- else
    = "Total gallons purchased: #{(Purchase.all.map &:gallons).inject(:+).format_gallons}"
    %br
    = "Total miles traveled: #{(Purchase.all.map &:miles).inject(:+).format_miles}"
    %br
    = "Total cost: #{(Purchase.all.map &:cost).inject(:+).format_cost}"
    %hr
    = "Average gallons per purchase: #{((Purchase.all.map &:gallons).inject(:+) / Purchase.all.length).format_gallons}"
    %br
    = "Average miles per purchase: #{((Purchase.all.map &:miles).inject(:+) / Purchase.all.length).format_miles}"
    %br
    = "Average cost per purchase: #{((Purchase.all.map &:cost).inject(:+) / Purchase.all.length).format_cost}"
    %br
    = "Average miles per gallon: #{((Purchase.all.map &:miles).inject(:+) / (Purchase.all.map &:gallons).inject(:+)).format_miles}"
    %br
    = "Average cost per gallon: #{((Purchase.all.map &:cost).inject(:+) / (Purchase.all.map &:gallons).inject(:+)).format_cost}"
