- if GasPurchase.all.length == 0
    = "Add a purchase to get started!"
- else
    = "Total gallons purchased: #{(GasPurchase.all.map &:gallons).inject(:+)}"
    %br
    = "Total miles traveled: #{(GasPurchase.all.map &:miles).inject(:+)}"
    %br
    = "Total cost: #{"%.2f" % ((GasPurchase.all.map &:cost).inject(:+))}"
    %hr
    = "Average gallons per purchase: #{(GasPurchase.all.map &:gallons).inject(:+) / GasPurchase.all.length}"
    %br
    = "Average miles per purchase: #{(GasPurchase.all.map &:miles).inject(:+) / GasPurchase.all.length}"
    %br
    = "Average cost per purchase: #{"%.2f" % ((GasPurchase.all.map &:cost).inject(:+) / GasPurchase.all.length)}"
    %br
    = "Average miles per gallon: #{(GasPurchase.all.map &:miles).inject(:+) / (GasPurchase.all.map &:gallons).inject(:+)}"
    %br
    = "Average cost per gallon: #{"%.2f" % ((GasPurchase.all.map &:cost).inject(:+) / (GasPurchase.all.map &:gallons).inject(:+))}"
